# =========================
# Python
# =========================
backend/.venv/
backend/__pycache__/
backend/.pytest_cache/
backend/**/*.pyc
backend/.env

# =========================
# Flask
# =========================
backend/instance/

# =========================
# Node
# =========================
frontend/node_modules/
frontend/dist/

# =========================
# VSCode
# =========================
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log